#parent {
  background-color: #845ec2;
  height: 1000px;
  margin: 5%;
  position: relative;
}
div {
  text-align: center;
  color: white;
  line-height: 100px;
}
#one {
  position: sticky;
  top: 0px;
  /* left: 10px; */
  background-color: #ff5e78;
  width: 200px;
  height: 100px;
}
#two {
  background-color: #ffcc29;
  width: 200px;
  height: 100px;
}
#three {
  background-color: #295939;
  width: 200px;
  height: 100px;
}
p {
  font-family: "Palette Mosaic", cursive;
}
